@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.HomePage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  
  main {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 0.84;
    justify-content: center;
    padding: 2px;
  }
  
  h1 {
    color:black;
    font-size: 1rem;
    margin-bottom: 0px;
    text-align: center;
  }
  
  p {
    color:black;
    font-size: 1rem;
    margin-bottom: 30px;
    text-align: center;
  }
  
  
  
footer {
  padding-top: 5px;
  padding-left: 60px;
  height: 30px; /* Set the height of the footer */
  background-color: #f0f0f0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  
  }
  
  
  
  @media screen and (max-width: 480px) {
    .contact-us-form {
      width: 90%;
    }
  }
  