@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

table {
  overflow-y: scroll; /* Enable vertical scrolling for the content */
  height: calc(100vh - 500px);
    font-family: "Trebuchet MS",Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  table td, table th {
    
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}

  
  table th,tfoot td {
    
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 60px;
    padding-right: 100px;
    text-align: center;
    align-items: center;

    background-color: #ffb061;
    color: black;
    transition: background-color 0.3s ease;
}

table th:hover{
    background-color: #f2f2f2; 
}
tfoot td:hover{
  background-color: #f2f2f2; 
}
table tr:hover{
    background-color: #3F88C5; 
    animation: colorShift 5s infinite;
}
span{
  
  width: 50px;
}

  

  @keyframes colorShift {
    0% {
      background-color: #D90429; 
    }
    25% {
      background-color: #7F6CBF; 
    }
    50% {
      background-color: #8338EC; 
    }
    75% {
      background-color: #17BEBB ; 
    }
    100% {
      background-color: #9B5DE5; 
    }
  }